<footer class="footer">
    <div class="content-footer">
      <div class="left-footer" style="display: flex; flex-direction: column">
           <img src="logoLoveLink.png" class="image-logo" alt="Logo" />
        <p>Com a LoveLink você demonstra amor em forma de página personalizada :)</p>
         <div class="redes-sociais">
            <img src="instagram.png" alt="">
            <a href="">Confira o nosso instagram</a>
        </div>
      </div>
     
        <div class="paginas">
            <a href="/privacidade">Política de privacidade</a>
            <a href="/termos">Termos de uso</a>
            <a href="">Fale conosco</a>

        </div>
       
    </div>
    
    
</footer>
<div class="copyright">
        <span> CopyRight © 2025 - LoveLink.com</span>
    </div>

