<app-header></app-header>
<div class="body-inicial">
    <div class="container-hero">
        
        <div class="hero-content">
            <div class="container-primeiraParte">
                <div class="btnA">
                    <span>TRABALHE CONOSCO</span>
                </div>
                <h1><span style="font-size: 3.2rem; font-family: 'Poppins', sans-serif; font-weight: 700;  font-style: normal;
                ">Surpreenda</span></h1>
                <h2>
                    Quem você <span style="color: red; ">AMA.</span>
                </h2> 
                <p>Demonstrar carinho é mais do que um gesto, é uma forma de eternizar momentos e fortalecer conexões. Guarde seus sentimentos em uma página especial! Personalize com fotos, músicas e mensagens para emocionar quem você ama.</p>
            </div>
            
            <div class="hero-buttons">
              <button (click)="irParaCriarCarta()" class="btn btn-primary">Comece agora  ></button>
              <button class="btn btn-secondary">Como Funciona</button>     
              <div class="rating-info">
                <div class="containerLeft">
                    <div class="avatars">
                        <img src="image1.jpg" />
                        <img src="image2.jpg" />
                        <img src="image3.jpg" />
                        <img src="image4.jpg" />
                        <img src="image5.jpg" />
                    </div>  
                    <div class="containerEstrelas">
                        <img src="estrela.png" />
                        <img src="estrela.png" />
                        <img src="estrela.png" />
                        <img src="estrela.png" />
                        <img src="estrela.png" />
                    </div>
                </div>
               
                      <p class="rating-text">Mais de <strong>800</strong> surpresas<br> entregues e aprovadas.</p>
              </div>       
        </div>
    </div>
    </div>
    <div class="espaco"></div>
    <div class="espaco"></div>
    <div class="espaco"></div>
    <div class="espaco"></div>
    <div class="espaco"></div>
    <div class="apresentacao-carta">
        <div class="content-apresentacao">
            <div class="title">
                <div class="tracinho"></div>
                <h3>A Página especial LoveLink</h3>
            </div>
            <div class="espaco"></div>
            <div class="phone-frame">
                <div class="volume-buttons"></div>
                <div class="phone-video-inner">
                  <video class="video-phone" autoplay loop muted preload="auto">
                    <source src="video-love.webm" type="video/webm">
                    Seu navegador não suporta a tag de vídeo.
                  </video>
                </div>
              </div>
            <div class="espaco"></div>
            <div class="espaco"></div>
            <div class="espaco"></div>
            <div class="title">
                <div class="tracinho"></div>
                <h3>Recursos especiais</h3>
            </div>
            <div class="espaco"></div>
            <div class="box-recursos">
                 <div class="title-middle">
                    <h3>Álbum de fotos dinâmico</h3>
                    <h4>Eternize momentos adicionando fotos com descrição e data, quantas vezes quiser após a criação da página.</h4>
                </div>
           
          
           <div class="imagens-album">
                <img src="image-album.jpg" alt="">
                <img src="image-foto.jpg" alt="">
           </div>
            </div>
            <div class="box-recursos">
                <div class="espaco"></div>
                <div class="title-middle">
                        <h3>Playlist Spotify</h3>
                    
                        <h4>Demonstre o seu sentimento através da nossa Playlist Spotify.</h4>
                </div>
                <div class="imagem-playlist">
                        <img src="image-playlist.jpg" alt="">
                
                    </div>
            </div>
            <div class="box-recursos">
                <div class="espaco"></div>
                <div class="title-middle">
                    <h3>Música dedicada + Contador</h3>
                    <h4>Adicione aquela música especial.</h4>
                </div>
                <div class="imagem-yt">
                <img src="image-youtube.jpg" alt="">
            
                </div>
             </div>
             <div class="box-recursos">
               <div class="espaco"></div>
               <div class="espaco"></div>
               <div class="espaco"></div>
                <div class="imagem-qr">
                    <img src="qrcode-pag.png" alt="">
                    <button class="btn btn-primary3">Veja um exemplo  ></button>
                </div>
              </div>
          

        </div>
    </div>
    <div class="espaco"></div>
    <div class="espaco"></div>
    <div class="espaco"></div>
    <div class="comoFunciona">
        <div class="comoFunciona-content">
            <div class="title">
                <div class="tracinho"></div>
                    <h3>Passo a Passo da surpresa</h3>
            </div>
            <div class="title-middle">
                <h3 style="font-size: 30px;">Crie em 4 etapas</h3>
                <h4>Nunca foi tão fácil presentear alguém.</h4>
           </div>
           <div class="container-cards">
                <div class="cardFuncionamento">
                    <img src="check-in.png" alt="">
                    <div class="container-left">
                        <div class="tracinho2"></div>
                        <div class="division-block">
                            <span class="titulo-card">1. Preencha o Formulário de conteúdo</span>
                            <span class="texto-card">Fotos, músicas, textos e etc.</span>
                        </div>
                    </div>
                </div>
                <div class="cardFuncionamento">
                    <img src="mao.png" alt="">
                    <div class="container-left">
                        <div class="tracinho2"></div>
                        <div class="division-block">
                            <span class="titulo-card">2. Realize o pagamento seguro</span>
                            <span class="texto-card">Pix e Cartão de crédito com o Mercado Pago.</span>
                        </div>
                        
                    </div>
                </div>
                <div class="cardFuncionamento">
                    <img src="codigo-qr.png" alt="">
                    <div class="container-left">
                        <div class="tracinho2"></div>
                        <div class="division-block">
                            <span class="titulo-card">3. QR Code e Link da página</span>
                            <span class="texto-card">Receba em seu email o QR code e o link para acessar a sua página especial..</span>
                        </div>
                        
                    </div>
                </div>
                <div class="cardFuncionamento">
                    <img src="coracao.png" alt="">
                    <div class="container-left">
                        <div class="tracinho2"></div>
                        <div class="division-block">
                            <span class="titulo-card">4. Surpreenda quem você ama!</span>
                            <span class="texto-card">Entregue o QrCode</span>
                        </div>                      
                    </div>
                </div>
                <div class="espaco"></div>
                <div class="imagem-yt">
                    <button class="btn btn-primary2" style="width: 325px !important">Comece agora</button>
                </div>     
           </div>
        </div>
    </div>
    <div class="espaco"></div>
    <div class="espaco"></div>
    <div class="espaco"></div>
    <div class="espaco"></div>
    <div class="title">
        <div class="tracinho"></div>
            <h3>Nossos Planos</h3>
    </div>
    <div class="container-section">
        <div class="content-container">
            <div class="espaco"></div>
            <div class="card-planos">
                <h5>⭐ ACESSO VITALÍCIO</h5>
                <div class="checks">
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>Mensagem Especial</span>
                    </div>
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>Contador em tempo real</span>
                    </div>
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>Até 4 fotos em carrossel na Seção Inicial</span>
                    </div>
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>Vídeo/Música</span>
                    </div>
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>Álbum dinâmico <b>ilimitado</b></span>
                    </div>
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>Descrição e data nas imagens do álbum</span>
                    </div>
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>Playlist Spotify <b>(Tema Namorados)</b></span>
                    </div>
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>QR Code</span>
                    </div>
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>Títulos Personalizáveis</span>
                    </div>
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>Suporte 24 horas, de domingo a domingo</span>
                    </div>
                </div>
                <div class="valores">
                    <span class="normal">R$ 43,90</span>
                    <span class="promocional">R$27,90</span>
                </div>
                <button class="btn btn-primary4">Surpreenda já</button>
            </div>
            <div class="espaco"></div>
            <div class="card-planos">
                <h5>1 ANO DE ACESSO</h5>
                <div class="checks">
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>Mensagem Especial</span>
                    </div>
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>Contador em tempo real</span>
                    </div>
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>Até 4 fotos em carrossel na Seção Inicial</span>
                    </div>
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>Vídeo/Música</span>
                    </div>
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>Álbum dinâmico <b>ilimitado</b></span>
                    </div>
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>Descrição e data nas imagens do álbum</span>
                    </div>
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>Playlist Spotify <b>(Tema Namorados)</b></span>
                    </div>
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>QR Code</span>
                    </div>
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>Títulos Personalizáveis</span>
                    </div>
                    <div class="division-check">
                        <img src="check.png" alt=""> <span>Suporte 24 horas, de domingo a domingo</span>
                    </div>
                </div>
                <div class="valores">
                    <span class="normal">R$ 36,90</span>
                    <span class="promocional">R$21,90</span>
                </div>
                <button class="btn btn-primary4">Surpreenda já</button>
            </div>
           
        </div>
    </div>
    <div class="depoimentos-container">
        <div class="title">
            <div class="tracinho"></div>
                <h3>Depoimentos</h3>
        </div>
        <div class="espaco"></div>
      
        <div class="carrossel">
          <div class="seta seta-esquerda" (click)="prev()">&#10094;</div>
      
          <div class="depoimento" *ngFor="let d of depoimentos; let i = index" [class.ativo]="i === currentIndex">
            <h3>{{ d.nome }}</h3>
            <p>"{{ d.mensagem }}"</p>
          </div>
         
      
          <div class="seta seta-direita" (click)="next()">&#10095;</div>
        </div>
        <div class="indicadores">
            <span
              *ngFor="let d of depoimentos; let i = index"
              class="bolinha"
              [class.ativa]="i === currentIndex"
              (click)="mudarDepoimento(i)">
            </span>
          </div>
      </div>
    <section class="faq-section">
        <h2 class="faq-title">Perguntas Frequentes</h2>
      
        <div class="faq-item" onclick="toggleFaq(this)">
          <div class="faq-question">
            <span>Em quanto tempo recebo o QR Code?</span>
            <span class="arrow">▼</span>
          </div>
          <div class="faq-answer">
            Após a confirmação do pagamento, QR Code e Link da página são instantaneamente enviados por Email! 
          </div>
        </div>
      
        <div class="faq-item" onclick="toggleFaq(this)">
          <div class="faq-question">
            <span>É necessário ter uma conta Premium no Spotify?</span>
            <span class="arrow">▼</span>
          </div>
          <div class="faq-answer">
            Não, nosso sistema permite a inserção de players Spotify sem a necessidade de autenticação.
          </div>
        </div>
        <div class="faq-item" onclick="toggleFaq(this)">
            <div class="faq-question">
              <span>Existe limite de fotos no álbum dinâmico?</span>
              <span class="arrow">▼</span>
            </div>
            <div class="faq-answer">
              Não, o álbum dinâmico é ilimitado, Podendo adicionar imagens com descrição e data até o final da assinatura (caso o plano seja anual)
            </div>
          </div>
          <div class="faq-item" onclick="toggleFaq(this)">
            <div class="faq-question">
              <span>Como criar a minha página especial?</span>
              <span class="arrow">▼</span>
            </div>
            <div class="faq-answer">
              Basta preencher o formulário com o conteúdo da sua página (fotos, mensagem, video, musicas e etc), confirmar o pagamento e receber em seu Email o link da página pronta!
            </div>
          </div>
          <div class="faq-item" onclick="toggleFaq(this)">
            <div class="faq-question">
              <span>Depois de criada, posso alterar algo em minha página?</span>
              <span class="arrow">▼</span>
            </div>
            <div class="faq-answer">
              Sim. Será necessário entrar em contato com o nosso suporte informando o conteúdo a ser alterado.
            </div>
          </div>
          <div class="faq-item" onclick="toggleFaq(this)">
            <div class="faq-question">
              <span>De quais formas posso realizar o pagamento?</span>
              <span class="arrow">▼</span>
            </div>
            <div class="faq-answer">
              Você poderá fazer o pagamento via Pix ou Cartão de crédito..
            </div>
          </div>

      </section>
      <div class="espaco"></div>
      <div class="espaco"></div>
      <div class="espaco"></div>
      <app-footer></app-footer>
</div>